/* button  */
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 12 */
.btn-12 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-12 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

/* 5 */
.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: white;
  background: linear-gradient(0deg, rgb(173 23 47) 0%, rgb(173 23 47) 100%);
}
.btn-5:hover {
  color: #fff;
  background: transparent;
  box-shadow: none;
}
.btn-5:before,
.btn-5:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #fff;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.contact {
  display: flex;
  flex-direction: row;
  height: 80vh;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;


}

.container {
  width: 50%;
  padding-left: 30px;

}
.container2 {
  width: 70%;
  padding-left: 60px;
}

.contact-heading {
  font-size: 48px;
  color: #be1934e8;
  text-transform: uppercase;
  padding-bottom: 30px;
  padding-top: 20px;
}

.li {
  color: black;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.contact-icon {
  color: #be1934e8;
  margin-right: 10px;
}

.contact-ul {
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.contact-ul1 {
  font-size:20px;
}
.contact-social {
  color: #be1934e8;
  margin-right: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #be1934e8;
  padding-inline: 30px;
  border-radius: 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-input {
  width: 100%;
  font-size: 24px;
  color: black;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  margin-bottom: 20px;
  margin-top: 40px;
  background: none;
}

.contact-img{
  width: 70%;
  height: 400px;
  object-fit: cover;
}

.contact-img2{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.img-container{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border-radius: 10%; */
  /* position: absolute; */
}

@media (max-width: 960px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
  .contact-heading {
    font-size: 40px
  }
  .contact-ul1 {
    font-size: 15px;
  }
}
